@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Josefin+Sans:wght@100&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&family=Roboto:wght@100;300&family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Chivo+Mono:wght@500&family=Josefin+Sans:wght@100&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&family=Roboto:wght@100;300&family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Chivo+Mono:wght@500&family=Josefin+Sans:wght@100&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&family=Sacramento&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: "Catamaran", sans-serif;
    text-decoration: none !important;
}

:root {
    --orange:#EA512E;
    --yellow:#F5890D;
    --blue:#1B0238;
    --green:#82B440;
    --gray:#6B6B94;
    --cream:#FDF6ED;
    --light-cream:#fee9ca;
}

.pt-100{
    padding-top: 100px;
}

.ptb-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.pb-70{
    padding-bottom: 70px;
}

p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    color: var(--blue) !important;
}

.fs-7 {
    font-size: 12px;
}

.fs-8 {
    font-size: 17px;
}

.fw-4 {
    font-weight: 400;
}

.btn{
    background-color: var(--orange);
    color: #fff;
    
    font-weight: 500;
    margin: 0;
    padding: 12px 35px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    transition: 0.4s linear;
    overflow: hidden;
    z-index: 1;
}

.btn1 {
    background-color: var(--orange);
}

.btn1::before{
    content: "";
    position: absolute;
    background-color: var(--yellow);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.5s;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaley(0);
    
}



.btn1:hover::before {
    transform: scaley(1)
}

.btn2 {
    background-color: var(--yellow);
}

.btn2::before {
    content: "";
    position: absolute;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    border-radius: 10px;
    transition: 0.5s;
    /* transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleY(1); */
    /*left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.5s;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaley(1);  */
} 

.btn2:hover::before {
    height: 100%;
}

/* universal css end /---------------------------------------------- */

/* Header css start ----------------------------------------------- */

.navbar {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.nav-item {
    position: relative;
}
.submenu{
    position: absolute;
    left: 0;
    top: 110%;
    opacity: 0;
    border: 2px solid black;
    visibility: hidden;
    /* z-index: 1; */
    border: none;
    z-index: 99;
    width: 280px;
    display: block;
    padding: 10px 0;
    margin-top: 15px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.submenu li a {
    color: var(--blue);
    font-weight: bold;
}

li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.navbar .active {
    color: var(--orange) !important;
}

.navbar .nav-link {
    color: var(--blue);
}

.navbar .nav-link:hover {
    color: var(--orange);
}

/* /Header css end ----------------------------------------------- */


/* Hero css Start ----------------------------------------------- */
.banner {
    background-image: url(../img/main-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
}

.p-org {
    color: var(--orange);
    margin-bottom: 1rem;
}

.p-blue {
    color: var(--blue);
    font-size: 60px;
    font-weight: bold;
}

.btn1 {
    margin-right: 15px;
}

.banner img {
    bottom: 0;
    right: 0;
    /* z-index: 1; */
}

.h-80 {
    height: 96%;
}

.top-25 {
    top: 24%;
}

.shape {
    position: absolute;
    width: 100px;
}

.shape-1 {
    top: 3.5%;
    left: 2%;
    animation: move 2s infinite alternate;
}

.shape-2 {
    top: 3.5%;
    left: 50%;
    animation: move1 2s infinite alternate;
}

.shape-3 {
    top: 68%;
    left: 2%;
    animation: move2 2s infinite alternate;
    z-index: 99;
}

.shape-4 {
    top: 83%;
    left: 50%;
    animation: move3 2s infinite alternate;
    z-index: 1;
}

.shape-5 {
    width: 100%;
    z-index: 1;
    top: 92%;
    /* border: 2px solid black; */
}
/* /Hero css end ----------------------------------------------- */


/* kindergarden css start ----------------------------------------------- */
.kidergarden .who-we-are-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
}

.kidergarden .who-we-are-img{
    position: relative;
    z-index: 1;
    text-align: center;
}

.kidergarden .who-we-are-img::before{
    position: absolute;
    content: " ";
    max-width: 100%;
    height: 100%;
    background-color: var(--orange);
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 10s linear infinite alternate forwards;
}

.kidergarden .who-we-are-img::after{
    position:absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 50s linear infinite alternate forwards;
    
}

.who-we-are {
    font-family: "Sacramento", cursive;
    color: var(--orange);
}

h1 {
    color: var(--blue);
    font-size: 45px;
}

.kidergarden .num {
    color: var(--blue);
}



.kidergarden .num span {
    color: #fff;
    background-color: var(--orange);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
    font-size: 18px;
    margin-right: 15px;
    transition:all 0.5s;
}


.kidergarden .num:hover span{
    transition: all 0.5s ease-in;
    background-color: var(--yellow);
}

.shape-6{
    top: 50px;
    left: 90%;
    z-index: 1;
    height: 15%;
    width: 120px;
    animation: move4 1.8s infinite alternate;
}
/* /kindergarden css end ----------------------------------------------- */


/* classes css start -------------------------------------------- */
.classes {
    background-color: var(--cream);
    padding: 100px 0 70px;
    z-index: 1;
}

.classes ul{
    border-top: 1px dashed var(--orange);
    margin-top: 20px;
    padding-top: 20px;
}
.classes ul li{
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
    
}

.classes ul li span {
    color: var(--orange);
    font-weight: 600;
}

.classes .card-body {
    padding: 45px 30px 30px !important;
}

.classes h4 {
    margin-bottom: 15px;
}

.classes button {
    margin: 10px 0 5px;
}

.classes .card {
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.classes .card-body .price {
    background-color: var(--orange);
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    border-radius: 0 0 0 10px;
    transition: all 0.5s ease-in-out;
}

.classes .class-shape{
    z-index: -1;
}

.classes .card:hover .price {
    background-color: var(--yellow);
    transition: 0.5s ease-in-out;
}

.classes .card-title{
    transition: all 0.5s ease-in;
}
.classes .card:hover .card-title {
    color: var(--orange) !important;
    transition: 0.5s ease-in-out;
}

.classes .card img {
    transition: all 0.5s ease-in-out;
}

.classes .card:hover img{
    transform: rotate(2deg) scale(1.2);
    transition: 0.5s ease-in-out ;
}



/* /classes css end -------------------------------------------- */


/* core-value css start -------------------------------------------- */
.core-value {
    padding: 100px 0;
    z-index: 1;
}

.core-value .core-num{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
}

.core-value #core-num1{
    background-color: #D1F2FB;
    outline: 1px solid #D1F2FB;
    outline-offset: 4px;
}

.core-value #core-num2{
    background-color: #F8DCAA;
    outline: 1px solid #F8DCAA;
    outline-offset: 4px;
}

.core-value #core-num3{
    background-color: #F8C7D2;
    outline: 1px solid #F8C7D2;
    outline-offset: 4px;
}

.core-value .core-right{
    padding-left: 49px;
}

.core-value .core-img {
    max-width: 100%;
    height: auto;
}

.core-value .core-content {
    padding-left: 28px;
}

.core-value .core {
    transition:all 0.8s;
}

.core-value .core:hover #core-num1{
    background-color: var(--orange);
    outline: 1px solid var(--orange);
    transition:all 0.8s;
}

.core-value .core:hover #core-num2{
    background-color: var(--orange);
    outline: 1px solid var(--orange);
    transition:all 0.8s;
}

.core-value .core:hover #core-num3{
    background-color: var(--orange);
    outline: 1px solid var(--orange);
    transition:all 0.8s;
}

.core-value #value-shape-1{
    top: 30px;
    left: 20px;
}


.core-value #value-shape-2{
    bottom: 30px;
    left: 20px;
    
}

.core-value #value-shape-3{
    top: 100px;
    right: 0;
    z-index: -1;
}

/* /core-value css end -------------------------------------------- */


/* teacher css start -------------------------------------------- */
.teacher {
    background-image: url('../img/teacher-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.teacher .teacher-info img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 50%;
}

.teacher p {
    color: var(--orange);
    font-weight: 500;
}

.teacher .social {
    right: 0;
    left: 0;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 95px;
    margin-bottom: 0;
    
}

.teacher .social li{
    margin: -18px 4px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
.teacher .social li a {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    background-color: var(--orange);
    text-align: center;
    color: #fff;
    line-height: 36px;
    position: relative;
    
    
    /* font-size: 20px; */
}

.teacher .teacher-info:hover li{
    opacity: 1;
    visibility: visible;
    margin-bottom: 10px;
}

.teacher .teacher-img{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.teacher .teacher-img::before{
    position: absolute;
    content: " ";
    max-width: 100%;
    height: 100%;
    background-color: var(--orange);
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 30s linear infinite alternate forwards;
}
/* /teacher css end -------------------------------------------- */


/* testimonials css start -------------------------------------------- */
.testimonials .testimonials-list .testimonials-item-box{
    background-color: var(--light-cream);
    padding: 30px;
    border-radius: 50%;
    text-align: center;
}

.testimonials .testimonials-list .testimonials-item-box p {
    font-size: 15px;
    font-style: italic;
}

.testimonials .testimonials-list .testimonials-item-box .icon{
    margin-bottom: 15px;
}
.testimonials-list .testimonials-item-box .icon  {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    background-color: #fff;
    color: var(--orange);
    font-size: 30px;
    border-radius: 50%;
    transition: all 0.5s;
}

.testimonials .slider .slider-wrapper{
    display: grid;
    grid-template-columns: repeat(12, 440px);
    overflow-x: auto;
    scrollbar-width: none;
}

.testimonials .slider .slider-wrapper::-webkit-scrollbar{
    display: none;
}
    
.testimonials .slider{
    position: relative;
}

.testimonials .slider .slider-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: var(--orange);
    line-height: 55px;
    position: absolute;
    top: 40%;
    transition: all 0.2s;
    transform: translateY(-40%);
    /* opacity: 0;
    visibility: hidden; */
}

.testimonials .slider #slider-left{
    left: -4.5%;
    /* display: none; */
}

.testimonials h3 {
    font-size: 25px;
    font-weight: bold;
}

.testimonials span {
    font-size: 15px;
    color: var(--orange);
    font-weight: 600;
}

.testimonials .slider #right-slider{
    right: -4.5%;
}

.testimonials .testimonials-list {
    padding-top: 35px;
}

.testimonials .slider .slider-btn:hover{
    background-color: var(--yellow);
    transition: 0.2s;
}

.testimonials-list .testimonials-item-box:hover .icon {
    background-color: var(--orange);
    color: #fff;
    transition: all 0.5s;
}

.testimonials .slider .slide-btn{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.slider:hover div.slide-btn{
    opacity: 1;
    visibility: visible;

}

.testimonials .testimonials-image{
    margin-top: 20px
}

.testimonials .testimonials-image img {
    display: block;
    width: auto;
    margin: auto;
    max-width: 100%;
    height: auto;
}

/* /testimonials css end -------------------------------------------- */


/* event css start -------------------------------------------- */
.event {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../img/event-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.event .event-box{
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0px 2px 28px 0px rgba(0,0,0,0.9);
}

.event .event-box h3 a{
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}

.event .event-box .event-list {
    margin-top: 20px;
}

.event .event-box .event-list li {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.event .event-box .event-date h4 {
    font-size: 80px;
    color: var(--orange) !important;
    font-weight: bold;
}

.event .event-box .event-date span {
    font-size: 20px;
    color: var(--orange);
    font-weight: 500;
}

.event .event-box .event-list .fa-clock, .event .event-box .event-list .fa-location-dot {
    color: var(--orange);
}

.event .event-box .event-list ul {
    padding-left: 0;
}

/* /event css end -------------------------------------------- */

.blog .blog-content {
    background-color: #FDEEE9;
    padding: 30px;
    border-radius: 0 0 20px 20px;
}

.blog .blog-content li{
    font-weight: 500;
    margin-right: 15px;
    color: #283d5e;
}
.blog .blog-content li span {
    color: var(--orange);
}

.blog .blog-content ul li a{
    color: #283d5e;
    text-decoration: none;
}

.blog .blog-content ul {
    padding-left: 0;
}

.blog .blog-content h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.blog .blog-content h3 a {
    color: var(--blue);
}

.blog .card {
    border: 0;
    border-radius: 0;
}

.blog .card-img-top {
    border-radius: 0;
}

.blog .card img {
    transition: all 0.5s ease-in-out;
}

.blog .card:hover img{
    transform: rotate(2deg) scale(1.2);
    transition: 0.5s ease-in-out ;
}

.blog .card h3 a {
    transition: all 0.5s ease-in-out;
}
.blog .card:hover h3 a {
    color: var(--orange);
    transition: all 0.5s ease-in-out;
}


/* footer css start -------------------------------------------- */
footer {
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url('../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

footer .ketan-content h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer .ketan-content h2 a {
    color: #fff;
}

footer .ketan-content p {
    color: #fff;
}

footer .ketan-social-icon {
    margin-top: 25px;
}
footer ul {
    padding-left: 0;
}

footer .ketan-social-icon ul li a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: var(--orange);
    border-radius: 50%;
    text-align: center;
    line-height: 39px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    transform: translateY(0px);
    transition: all 0.5s ease-in-out;
}

footer .ketan-social-icon ul li a:hover {
    transition: all 0.5s ease-in-out;
    transform: translateY(-8px);
    background-color: var(--yellow);
    color: #fff !important;
}

footer .ketan-social-icon ul li {
    margin-right: 12px;
}

footer .footer-details h3 {
    font-size: 25px;
    color: #fff !important;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 25px;
    position: relative;
}

footer .footer-details h3::before{
    position: absolute;
    content: " ";
    height: 2px;
    background-color: var(--orange);
    width: 50px;
    left: 0;
    bottom: 0;

}

footer .footer-details .footer-contact-info ul li {
    margin-bottom: 20px;
    color: #fff;
}

footer .footer-details .footer-contact-info ul li .icon {
    font-size: 20px;
    color: var(--orange);
}

footer .footer-details .footer-contact-info ul li span{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
    
}

footer .footer-details .footer-contact-info ul li a{
    font-weight: 400;
    color: #fff;
    margin-left: 35px;
}

footer .footer-details ul li a {
    position: relative;
    transition: all 0.5s ease-in-out;
}

footer .footer-details ul li a::before{
    position: absolute;
    content: " ";
    width: 0;
    height: 1px;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
}

footer .footer-details ul li a:hover {
    transition: all 0.5s ease-in-out;
    color: var(--orange);
}

footer .footer-details ul li .line:hover::before{
    transition: all 0.5s ease-in-out;
    width: 100%;
}


footer .footer-details .footer-links li {
    margin-bottom: 18px;
    
}

footer .footer-details .footer-contact-info li p {
   margin-left: 30px;
   font-size: 14px;
}

footer .footer-details .footer-links li a {
    color: #fff;
    font-weight: 600;
}

footer .footer-details .photo-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 6px;
}

footer .footer-details .photo-gallery .photo-list {
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 1;
}

footer .footer-details .photo-gallery .photo-list::before{
    position: absolute;
    content: " ";
    background-color: var(--orange);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

footer .footer-details .photo-gallery .photo-list:hover::before{
    transition: all 0.5s ease-in-out;
    visibility: visible;
    opacity: 0.5;
}

footer .footer-details .photo-gallery .photo-list img {
    transition: all 0.5s ease-in-out;
}
footer .footer-details .photo-gallery .photo-list:hover img {
    transform: scale(1.2);
}
/* /footer css end -------------------------------------------- */


/* copy right area css start -------------------------------------------- */
.copy-right {
    padding: 30px 0;
    background-color: #091629;
}

.copy-right p {
    margin-bottom: 0;
}

.copy-right p span {
    color: var(--orange);
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.copy-right p span:hover {
    transition: all 0.5s ease-in-out;
    color: #fff;
}
/* /copy right area css end -------------------------------------------- */

/* ---------------------------------------------------------------index section end--------------------------------------------------------------------- */

/* about css start -------------------------------------------- */
.about-banner {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/page-banner-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    background-attachment: fixed;
    width: 100%;
}

.about-banner .breadcrump ul .v-line {
    color: var(--orange);
    font-weight: 600;
    margin-left: 21px;
}
.about-banner .breadcrump ul .v-line::before{
    position: absolute;
    content: " ";
    top: 6px;
    left: -10px;
    width: 1px;
    height: 12px;
    background-color: var(--orange);
}

.about-banner .breadcrump h2 {
    font-size: 45px;
    font-weight: bold;
}

ul {
    padding-left: 0;
}
/* /about css end -------------------------------------------- */


/* fun-fact css start -------------------------------------------- */
.fun-fact {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/fun-facts-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.fun-fact .fun-fact-content {
    padding: 75px 45px;
    border-radius: 15px;
    opacity: 0.90;
    margin-bottom: 30px;
}

.fun-fact .fun-fact-content h3 {
    font-size: 60px;
    font-weight: bold;
}

.fun-fact .fun-fact-content p {
    font-weight: 500;
}

.fun-fact #blue {
    background-color: #5da7bd;
}

.fun-fact #yellow {
    background-color: #e9aa52
}

.fun-fact #purple {
    background-color: #6a4d8d;
}

.fun-fact #red {
   background-color: #de5e32;
}

/* /fun-fact css end -------------------------------------------- */

/* instructor css end -------------------------------------------- */
.instructor .instructor-content span {
    color: var(--orange);
    font-weight: 600;
}

.instructor .instructor-content h3 {
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
}

.instructor .instructor-img .image img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.instructor .instructor-img .image::before {
    content: " ";
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.instructor .instructor-img .image:hover::before{
    visibility: visible;
    opacity: 0.70;
    transition: all 0.5s;
}

.instructor .instructor-img .image .teacher-content {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.instructor .instructor-img .image:hover .teacher-content{
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s;
}

.instructor .instructor-img .image .teacher-content h3 {
    font-size: 25px;
    color: #fff !important;
    font-weight: bold;
}

.instructor .instructor-img .image .teacher-content span {
    display: block;
    color: #fff;
    font-weight: 600;
}

.instructor .instructor-img .image .teacher-content .social {
    margin-top: 15px;
}

.instructor .instructor-img .image .teacher-content .social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    color: var(--orange);
    transition: all 0.5s;
}

.instructor .instructor-img .image .teacher-content .social li a:hover {
    transition: all 0.5s;
    color: #fff !important;
    background-color: var(--yellow);
}

.instructor .instructor-img .image .teacher-content .social li{
    margin: 0 6px;
}
/* /instructor css end -------------------------------------------- */


/* ---------------------------------------------------------------about section start--------------------------------------------------------------------- */


@keyframes move {
    0%{}
    100%{left: 3.5%;}
}

@keyframes move1 {
    50%{}
    100%{left: 52%;}
}

@keyframes move2 {
    0%{}
    100%{left: 3.5%;}
}

@keyframes move3 {
    50%{}
    100%{top: 81%;}
}

@keyframes move4 {
    90%{}
    100%{left: 88%;}
}

@keyframes border-transform-default {
    0%, 100%{
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}