@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Josefin+Sans:wght@100&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&family=Roboto:wght@100;300&family=Sacramento&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Chivo+Mono:wght@500&family=Josefin+Sans:wght@100&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto+Mono&family=Roboto:wght@100;300&family=Sacramento&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    font-family: "Catamaran", sans-serif;
}

:root {
    --orange:#EA512E;
    --yellow:#F5890D;
    --blue:#1B0238;
    --green:#82B440;
    --gray:#6B6B94;
}

p {
    color: var(--gray);
}

.fs-7 {
    font-size: 12px;
}

.fs-8 {
    font-size: 17px;
}

.fw-4 {
    font-weight: 400;
}

button{
    background-color: var(--orange);
    color: #fff;
    
    font-weight: 500;
    margin: 0;
    padding: 12px 35px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    transition: 0.4s linear;
    overflow: hidden;
    z-index: 1;
}

.btn1 {
    background-color: var(--orange);
}

.btn1::before{
    content: "";
    position: absolute;
    background-color: var(--yellow);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.5s;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaley(0);
    
}



.btn1:hover::before {
    transform: scaley(1)
}

.btn2 {
    background-color: var(--yellow);
}

.btn2::before {
    content: "";
    position: absolute;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    border-radius: 10px;
    transition: 0.5s;
    /* transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleY(1); */
    /*left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.5s;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaley(1);  */
} 

.btn2:hover::before {
    height: 100%;
}

/* universal css end /---------------------------------------------- */

/* Header css start ----------------------------------------------- */

.navbar {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.nav-item {
    position: relative;
}
.submenu{
    position: absolute;
    left: 0;
    top: 110%;
    opacity: 0;
    border: 2px solid black;
    visibility: hidden;
    z-index: 1;
    border: none;
    z-index: 99;
    width: 280px;
    display: block;
    padding: 10px 0;
    margin-top: 15px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.submenu li a {
    color: var(--blue);
    font-weight: bold;
}

li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.navbar .active {
    color: var(--orange) !important;
}

.navbar .nav-link {
    color: var(--blue);
}

.navbar .nav-link:hover {
    color: var(--orange);
}

/* /Header css end ----------------------------------------------- */


/* Hero css Start ----------------------------------------------- */
.banner {
    background-image: url(../img/main-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
}

.p-org {
    color: var(--orange);
    margin-bottom: 1rem;
}

.p-blue {
    color: var(--blue);
    font-size: 60px;
    font-weight: bold;
}

.btn1 {
    margin-right: 15px;
}

.banner img {
    bottom: 0;
    right: 0;
    /* z-index: 1; */
}

.h-80 {
    height: 96%;
}

.top-25 {
    top: 24%;
}

.shape {
    position: absolute;
    width: 100px;
}

.shape-1 {
    top: 3.5%;
    left: 2%;
    animation: move 2s infinite alternate;
}

.shape-2 {
    top: 3.5%;
    left: 50%;
    animation: move1 2s infinite alternate;
}

.shape-3 {
    top: 68%;
    left: 2%;
    animation: move2 2s infinite alternate;
    z-index: 99;
}

.shape-4 {
    top: 83%;
    left: 50%;
    animation: move3 2s infinite alternate;
    z-index: 1;
}

.shape-5 {
    width: 100%;
    z-index: 1;
    top: 92%;
    /* border: 2px solid black; */
}
/* Hero css end ----------------------------------------------- */
.kidergarden{
    margin: 150px 0;
}
.kidergarden .who-we-are-img img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.kidergarden .who-we-are {
    font-family: "Sacramento", cursive;
    color: var(--orange);
}

.kidergarden h1 {
    color: var(--blue);
    font-size: 45px;
}

.kidergarden .num {
    color: var(--blue);
}

.kidergarden .num span {
    color: #fff;
    background-color: var(--orange);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 1px;
    font-size: 18px;
    margin-right: 15px;
    transition:all 0.5s;
}

.kidergarden .lorem {
    font-weight: 500;
    line-height: 1.8;
    font-size: 17px;
}



.kidergarden .num:hover span{
    transition: all 0.5s ease-in;
    background-color: var(--yellow);
}

.shape-6{
        top: -15%;
        left: 90%;
        z-index: 1;
        height: 20%;
        width: 110px;
        animation: move4 1.8s infinite alternate;
}








@keyframes move {
    0%{}
    100%{left: 3.5%;}
}

@keyframes move1 {
    50%{}
    100%{left: 52%;}
}

@keyframes move2 {
    0%{}
    100%{left: 3.5%;}
}

@keyframes move3 {
    50%{}
    100%{top: 81%;}
}

@keyframes move4 {
    90%{}
    100%{left: 88%;}
}